
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ef4444;
    border-radius: 4px;
  }

  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #ef4444 #f1f1f1;
  }
  